<div class="container">
  <div class="jumbotron">

    <h2>Editando Estado</h2>

    <%= render 'form' %>

    <%= link_to 'Mostrar', @estado %> |
    <%= link_to 'Atrás', estados_path %>
    
  </div>
</div>
