<div class="container">
  <div class="jumbotron">
    <h2>Editando Corrección</h2>

    <%= render 'form' %>

    <%= link_to 'Mostrar', @correccion %> |
    <%= link_to 'Atrás', correccions_path %>
  </div>
</div>
