<div class="container">
  <div class="jumbotron">
    <h2>Editando Tipo de Corrección</h2>

    <%= render 'form' %>

    <%= link_to 'Mostrar', @tipo_correccion %> |
    <%= link_to 'Atrás', tipo_correccions_path %>
  </div>
</div>
