<div class="container">
  <div class="jumbotron">

    <h2>Editando Carrera</h2>

    <%= render 'form' %>

    <%= link_to 'Mostrar', @carrera %> |
    <%= link_to 'Atrás', carreras_path %>
  </div>
</div>
