<div class="container">
  <div class="jumbotron">

    <!--p id="notice"><%= notice %></p-->

    <p>
      <span style="font-size:14px">
        <strong>Nombre carrera:</strong>
        <%= @carrera.nombre %>
      </span>
    </p>

    <%= link_to 'Editar', edit_carrera_path(@carrera) %> |
    <%= link_to 'Atrás', carreras_path %>
  </div>
</div>
