<div class="container">
  <div class="jumbotron">
    <h2>Editando Evaluación</h2>

    <%= render 'form' %>

    <%= link_to 'Mostrar', @evaluacion %> |
    <%= link_to 'Atrás', evaluacions_path %>
  </div>
</div>
