<div class="container">
  <div class="jumbotron">
    <h2>Editando Tópico</h2>

    <%= render 'form' %>

    <%= link_to 'Mostrar', @topico %> |
    <%= link_to 'Atrás', topicos_path %>
  </div>
</div>
